@mixin standardMargin {
    width: 82%;
    margin: 0 auto;
}

@mixin cardStyle {
    background-color: $lightGray;
    border: solid 1.5px $darkGray;
    border-radius: $border;
    box-shadow: 0 1px 3px $darkGray;
}

