
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

$lightGray: #F5F5F5;
$darkGray: #D7D7D7;
$lightBlue: #7977D2;
$darkBlue: #4F4CCF;

$titleFont: 'Reem Kufi', sans-serif;
$mainFont: 'Open Sans', sans-serif;