@import '../index.scss';

.collection {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $mainFont;
    font-weight: 300;
}

.title-container {
    width: 100%;
    margin: 0 25px 0 0;
    border-bottom: solid 2px $darkGray;

    h3 {
        margin: 20px 0 20px 20px;
    }
}

.button-container {
    width: 90px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;

    img {
        width: 80%;
    }
}

.collection-form {
    width: 100%;
    margin: 0 25px 0 0;
    background-color: white;
    border: solid 1px $darkBlue;
    border-radius: 2px;

    input {
        width: 90%;
        margin: 20px 0 20px 20px;
        border: none;
        font-family: $mainFont;
        font-size: 16px;
    }
}

.hidden {
    display: none;
}

@media screen and (max-width: 550px) {
    .collection {
        font-size: 14px;
    }
    
    .button-container {
        img {
            width: 70%;
        }
    }
}


